form{
    background-color: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 500px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
}

input {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    font-weight: 500;
    color: #333;
    transition: all .3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.card-list {
    z-index: 0;
    width: 100%;
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
}

.card {
    margin: 30px 50px;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
    /* overflow: hidden; */
}